# 임대료 데이터 정리
### 1. 데이터 프레임 만들기 (201808)
1) 임대료 데이터 불러오기  
2) 임대료 데이터 동별로 정리하기
3) 임대료 데이터 동별로 dataframe 만들기

In [13]:
import numpy as np
import pandas as pd
import re

In [20]:
#임대료 데이터 불러오기
df = pd.read_excel('realestate_201808.xlsx')

In [21]:
df.head(2)

,시군구,유형,지번,도로명,용도지역,건축물주용도,전용/연면적(㎡),대지면적(㎡),거래금액(만원),1㎡당금액(만원),층,계약년월,계약일,지분구분,건축년도
0,서울특별시 강남구 논현동,집합,1**,학동로26길,제1종일반주거,제2종근린생활,38.64,,"19,000",491.718427,NaN,201807,11~20,,2018.0
1,서울특별시 강남구 논현동,집합,2**,봉은사로,일반상업,숙박,30.03,,"20,000",666.000666,12.0,201807,21~31,,2003.0

In [23]:
 real_estate= df[['시군구', '1㎡당금액(만원)']]

In [24]:
real_estate.head()

             시군구    1㎡당금액(만원)
0  서울특별시 강남구 논현동   491.718427
1  서울특별시 강남구 논현동   666.000666
2  서울특별시 강남구 논현동   941.176471
3  서울특별시 강남구 논현동   562.491080
4  서울특별시 강남구 대치동  1400.560224

In [26]:
#우선 동별 데이터를 불러올수 있는지 확인해본다
#그리고 동별 1㎡당금액(만원) 을 평균을 낼수 있는지 확인해본다 
# 나중에 배달 데이터랑 확인해본다

In [27]:
dong = real_estate.groupby(['시군구'])[('1㎡당금액(만원)')].sum()

In [28]:
dong.head()

시군구
서울특별시 강남구 논현동     2661.386643
서울특별시 강남구 대치동    15602.426371
서울특별시 강남구 도곡동     3885.924088
서울특별시 강남구 삼성동     2878.826349
서울특별시 강남구 수서동     4429.128471
Name: 1㎡당금액(만원), dtype: float64

In [ ]:
# 각동별로 평균내기
# 배달 데이터랑 부동산 데이터 병합하기